<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PoC</title>
</head>
<body>
    <main class="container mt-3">
        <h1>Dashboard</h1>
        <button>
            <a href="/add-product/">Scan producten in</a>
        </button>
        <button>
            <a href="/remove-product/">Scan producten uit</a>
        </button>
        <button>
            <a href="/create-report/">Maak overzicht vervaldata aan (PDF)</a>
        </button>
        <button>
            <a href="/send-email/">E-mail</a>
        </button>
        <button>
            <a href="/open-report/" target="_blank">Toon verslag</a>
        </button>
    </main>
</body>
</html>

